<div class="container">
  <h1> Blog Page </h1>
    <h2 class="lead"> Here are some post below, do you want to add new post?</h2>
    <form method="post" action="#/newpost">
      <button class="btn, btn-default" type="submit"><Link to="#/newpost">Yes</Link></button>
      &nbsp;
      <a href="#/blog">
        <button class="btn, btn-primary" type="button">No</button>
      </a>  
    </form>
    <br />
    <div class="container">
    Latest Posts  
      <ul ng-repeat="post in posts">
         <li> {{post.title}} </li>
      </ul>
      <div></div>
    </div>
</div>